{# src/Tshirt/SiteBundle/Resources/views/Design/form.html.twig #}

{% if 'TshirtSiteBundle_image_addDesignPhoto' in app.request.attributes.get('_route') %}
    <form action="{{ path('TshirtSiteBundle_image_addDesignPhoto', { 'id': design.id } ) }}" method="post" {{ form_enctype(form) }} class="form">
        {{ form_widget(form) }}
        <p>
            <button class="button" type="submit"><span><span>Submit</span></span></button>
        </p>
    </form>
{% else %}
    <form action="{{ path('TshirtSiteBundle_image_addCustomerPhoto', { 'id': design.id } ) }}" method="post" {{ form_enctype(form) }} class="form">
        {{ form_widget(form) }}
        <p>
            <button class="button" type="submit"><span><span>Submit</span></span></button>
        </p>
    </form>
{% endif %}