{# src/Tshirt/SiteBundle/Resources/views/Products/show.html.twig #}

{% extends 'TshirtSiteBundle::layout.html.twig' %}

{% block body %}
    <div class="main">
        <div class="breadcrumbs">
        <ul>
            <li class="home"><a title="Go to Home Page" href="{{ path('TshirtSiteBundle_homepage') }}">Home</a> <span>/ </span> </li>
            <li><strong>{{ title }}</strong> </li>
        </ul>
        </div>
        <div class="col-main">
        {#
        <div class="toolbar">
            <div class="t-right">&nbsp;</div>
            <div class="t-left">&nbsp;</div>
            <div class="tb">
            <div class="sorter">
                <div class="sort-by">
                <label>Sort By</label>
                <select>
                    <option selected="selected">Name</option>
                    <option value="">Price</option>
                </select>
                <a title="Set Descending Direction" href="#"><img class="v-middle" alt="Set Descending Direction" src="{{ asset('images/i_asc_arrow.gif') }}" /></a></div>
            </div>
            <div class="pager">
                <div class="pages"><strong>Page:</strong>
                <ol>
                    <li class="current">1</li>
                    <li><a href="#">2</a></li>
                    <li><a title="Next" href="#" class="next i-next"><img class="v-middle" alt="Next" src="{{ asset('images/pager_arrow_right.gif') }}" /></a></li>
                </ol>
                </div>
                <!--
                <div class="limiter">
                <label>Show</label>
                <select>
                    <option selected="selected" value="">6</option>
                    <option value="">12</option>
                    <option value="">18</option>
                </select>
                per page</div>
                -->
            </div>
            </div>
        </div>
        #}
        <div class="category-top">&nbsp;</div>
        <div class="category-products">
            <div class="page-title">
            <h1>{{ title }}</h1>
            </div>
            {% for design in designs %}
                {% if 0 != loop.index % 2 %}
                    <ul class="products-grid first">
                    <li class="item first"><a class="product-image" href="{{ path('TshirtSiteBundle_product_show', { 'id': design.id } ) }}"><img width="216" alt="{{ design.name }}" src="{{ asset(design.images.first().getWebPath()) }}" /></a>
                        <h2 class="product-name"><a href="{{ path('TshirtSiteBundle_product_show', { 'id': design.id } ) }}">{{ design.name }}</a></h2>
                        <div class="price-box"><span class="regular-price"><span class="price">${{ design.price }}</span></span></div>
                    </li>
                    {% if loop.last %}
                        <li class="clear"></li>
                        </ul>
                    {% endif %}
                {% else %}
                    <li class="item last"><a class="product-image" href="{{ path('TshirtSiteBundle_product_show', { 'id': design.id } ) }}"><img width="216" alt="{{ design.name }}" src="{{ asset(design.images.first().getWebPath()) }}" /></a>
                        <h2 class="product-name"><a href="{{ path('TshirtSiteBundle_product_show', { 'id': design.id } ) }}">{{ design.name }}</a></h2>
                        <div class="price-box"><span class="regular-price"><span class="price">${{ design.price }}</span></span></div>
                    </li>
                    <li class="clear"></li>
                    </ul>
                {% endif %}
            {% endfor %}
        </div>
        <div class="category-btm">&nbsp;</div>
        </div>
    </div>
{% endblock %}